*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
*.png
*.html
*.js
*.css
*.fst
*.gif
*.html
*.db
*.png
*.csv
*.pdf
*.nb.html
*.html
*.txt
*.xls
*.xlsx
*.zip
*.md
*.msg
*.rds
*.RDS
*.tiff
*docx
*doc
