*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
*.png
*.html
*.js
*.css
*.fst
*.gif
*.html
*.db
*.png
*.pdf
*.nb.html
*.html
*.xls
*.xlsx
*.zip
*.md
*.msg
*.rds
*.RDS
*.tiff
*.docx
*.doc
